html {
    box-sizing: border-box;
}

*,*::after, *::before {
    box-sizing: inherit;
}
#header-container {
    display: flex;
    justify-content: center;
}
#header {
    font-size: 36px;
}